/**
 * cards-alternate Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-cards-alternate {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #001C29;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  @include screen-md {
    background-size: auto 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#001C29, 0.65);
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
  }

  .ll-cards__title,
  .ll-cards__card {
    display: inline-flex;
    flex: 0 1 auto;
    width: 25%;
  }

  .ll-cards__card {
    flex-direction: column;
    max-width: calc(236px);
    height: 100%;
    max-height: 409px;
    justify-content: center;
    margin: 13.5px;
    padding: 14px;
    border-radius: 5px;
    background-color: rgba($white, 0.85);
    overflow: hidden;
    clip: rect(0, 500px, 409px,0);

    @include screen-md {
      width: 100%;
    }

  }

  .ll-cards__card__sub_title,
  .ll-cards__card__description_text {
    color: $primary-color;
  }

  .ll-cards__title {
    max-width: 263px;
    @include font-size(26);
    color: $white;
    line-height: 32px;
    line-height: 1.23076923076923;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: left;
  }

  .ll-cards__card__title {
    margin-bottom: 37px;
    @include font-size(45);
    font-weight: 600;
    color: $danger-background;
    line-height: 1.22222222222222;
    text-align: center;
  }

  .ll-cards__card__sub_title {
    margin-bottom: 28px;
    @include font-size(21);
    font-weight: 500;
    line-height: 27;
    line-height: 1.22727272727273;
  }

  .ll-cards__card__description_text {
    p {
      margin-bottom: 0;
      @include font-size(15);
      line-height: 21px;
      line-height: 1.4;
    }
  }

}
