/**
 * hero-banner Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

/**
 *  --COMMENT--
 *  Please space out your selectors
 *  Add a new line before a new selector
 *  .ll-hero-banner {
 *    //properties
 *
 *   .container {
 *     //properties
 *   }
 *  }
 *
 * check your px values on All typography properties
 * line-height letter-spacing. These should be set to ems so
 * that they scale with the font size
 *
 * Across the design I see a lot of various text sizes in the hero banner content.
 * Maybe I'm not looking at this correctly, but I see you're setting all block level text elements
 * in the hero banner content to all be the same font size. Is this necessary? Keep in mind when doing this
 * that people will be able to change the text styles in the WYSIWYG and those need to get reflected
 */

.ll-hero-banner {
  flex-direction: column;
  @extend %parallax-bg;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .hero__section_title__container {
    position: absolute;
    top: 90px;
  }

  .hero__section_title {
    max-width: 350px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 45px;
    margin-left: 0;
    @include font-size(16);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
  }


  &:first-child {
    .hero__section_title__container {
      top: 142px;
    }
  }

  .hero__page_title {
    display: inline-flex;
    margin: auto auto 33px auto;
    @include font-size(45);
    font-weight: 500;
    line-height: 55px;
    line-height: 1.22222222222222;

    &.big {
      @include font-size(116);
      line-height: 141px;
      line-height: 1.21551724137931;
    }

  }

  .hero__main_heading {
    margin-bottom: 56px;
    @include font-size(26);
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .hero__content {

    * {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-top: 0;
      margin-bottom: 50px;
      @include font-size(16);
      line-height: 28px;
      line-height: 1.75;
      &.large {
        @extend %text-large;
      }
    }

    .type-it {
      max-width: 9em;
    }

    .typing-banner {
/*
      @include screen-xs {
        height: 45vh;
      }
      .container {
        @include screen-sm {
          width: 100%;
        }
      }
*/
      .hero__page_title:first-of-type {
        white-space: nowrap;
      }
    }

    :last-child {
      margin-bottom: 0;
    }

    .btn--download {
      margin-right: 10px;
      margin-left: 10px;
      padding-right: 72px;
      padding-left: 22px;
    }

  }
}
